<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>RegisterServlet</servlet-name>
  	<display-name>RegisterServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>LoginServlet</servlet-name>
  	<display-name>LoginServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>Successlogin</servlet-name>
  	<display-name>Successlogin</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.Successlogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<display-name>ViewProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.ViewProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<display-name>EditProfileServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.EditProfileServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>TimeLineServlet</servlet-name>
  	<display-name>TimeLineServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.TimeLineServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CheckEmail</servlet-name>
  	<display-name>CheckEmail</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.CheckEmail</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>GlobalServlet</servlet-name>
  	<display-name>GlobalServlet</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.GlobalServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FindAllUser</servlet-name>
  	<display-name>FindAllUser</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.FindAllUser</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>FbAngular</servlet-name>
  	<display-name>FbAngular</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.FbAngular</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>wsffe</servlet-name>
  	<display-name>wsffe</display-name>
  	<description></description>
  	<servlet-class>com.facebookweb.controller.wsffe</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>RegisterServlet</servlet-name>
  	<url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginServlet</servlet-name>
  	<url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Successlogin</servlet-name>
  	<url-pattern>/Successlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewProfileServlet</servlet-name>
  	<url-pattern>/ViewProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EditProfileServlet</servlet-name>
  	<url-pattern>/EditProfileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>TimeLineServlet</servlet-name>
  	<url-pattern>/TimeLineServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CheckEmail</servlet-name>
  	<url-pattern>/CheckEmail</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>GlobalServlet</servlet-name>
  	<url-pattern>/GlobalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FindAllUser</servlet-name>
  	<url-pattern>/FindAllUser</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>FbAngular</servlet-name>
  	<url-pattern>/FbAngular</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>wsffe</servlet-name>
  	<url-pattern>/wsffe</url-pattern>
  </servlet-mapping>
</web-app>
